<!-- add_course.html -->
{% extends 'core/base.html' %} 
{% block title %} Add Course {% endblock title %}
{% block content %}
  <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center"><u>Add Course</u></h2>
    <form id="course-form" method="post" action="{% url 'add-course' username=request.user.username %}" class="w-1/2 mx-auto">
      {% csrf_token %}
      {% for field in form %}
      <div class="mb-6">
        <label class="block mb-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
        <div class="text-red-500">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}

      <div class="flex justify-center">
        <button type="submit" class="py-4 px-4 text-lg bg-teal-500 hover:bg-teal-700 rounded-xl text-white"><small>Create Course</small></button>
        <a href="{% url 'home' username=request.user.username %}" class="ml-4 py-4 px-8 text-lg bg-gray-500 hover:bg-gray-700 rounded-xl text-white">Cancel</a>
      </div>
    </form>
  </div>
{% endblock content %}
