{% extends 'core/base.html' %}
{% block title %}Add Event{% endblock title %}
{% block content %}
<div class="text-black text-center font-bold text-[32px] py-4 px-4 rounded"><h1>Add Event</h1></div>
<div class="flex-1 flex flex-row my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <div class="w-1/4 my-6 mx-auto p-6 bg-gray-100 rounded-xl ">
        <form id="add-event-form" method="post">
            {% csrf_token %}
            {% if messages %}
                <div class="text-red-500" id="error-messages">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
                <script>
                    setTimeout(function() {
                        document.getElementById('error-messages').style.opacity = '0';
                        setTimeout(function() {
                            document.getElementById('error-messages').style.display = 'none';
                        }, 3000);
                    }, 3000);
                </script>
            {% endif %}
            {% for field in form %}
                <div class="mb-6">
                    <label class="block mb-2 text-gray-700" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                    <div class="text-red-500">
                        {% for error in field.errors %}
                            {{ error }}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
            <input id="geolocation" type="hidden">
            <input name="checkpoint_lat" id="lat" type="hidden">
            <input name="checkpoint_lng" id="lng" type="hidden">
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Add Event</button>
        </form>
    </div>
    <div class="w-3/4" style="height: 700px;" id="map"></div>
</div>

<script>
    let initialRadius = 0;
    let radius = document.getElementById("radius");
    let mainPoint = { lat: 6.673142860592767, lng: -1.5669536679534946 };
    let map, marker, cityCircle, geocoder;

    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            zoom: 20,
            center: mainPoint,
            mapTypeId: "satellite",
            gestureHandling: "cooperative",
        });

        geocoder = new google.maps.Geocoder();

        cityCircle = new google.maps.Circle({
            strokeColor: "#FF0000",
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: "rgb(19, 108, 143)",
            fillOpacity: 0.85,
            map,
            center: mainPoint,
            radius: parseFloat(initialRadius),
        });

        marker = new google.maps.Marker({
            map: map,
            position: mainPoint,
            title: "Event Location",
            draggable: true,
        });

        // Set initial lat and lng values
        document.getElementById("lat").value = mainPoint.lat;
        document.getElementById("lng").value = mainPoint.lng;

        radius.addEventListener('input', () => {
            initialRadius = parseFloat(radius.value);
            cityCircle.setRadius(initialRadius);
        });

        marker.addListener('drag', function(event) {
            let lat = event.latLng.lat();
            let lng = event.latLng.lng();
            mainPoint.lat = lat;
            mainPoint.lng = lng;
            cityCircle.setCenter(mainPoint);
        });

        marker.addListener('dragend', function(event) {
            let lat = event.latLng.lat();
            let lng = event.latLng.lng();
            mainPoint.lat = lat;
            mainPoint.lng = lng;
            changeMainpoint(lat, lng);
            updateAddress(lat, lng);
        });

        // Initialize Autocomplete
        const input = document.getElementById('id_location_address');
        const autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.addListener('place_changed', function() {
            const place = autocomplete.getPlace();
            if (!place.geometry || !place.geometry.location) {
                return;
            }
            mainPoint.lat = place.geometry.location.lat();
            mainPoint.lng = place.geometry.location.lng();
            changeMainpoint(mainPoint.lat, mainPoint.lng);
            map.setCenter(mainPoint);
            marker.setPosition(mainPoint);
            cityCircle.setCenter(mainPoint);
        });

        // Update the address field with the initial location
        updateAddress(mainPoint.lat, mainPoint.lng);
    }

    function changeMainpoint(lat, lng) {
        document.getElementById("lat").value = lat;
        document.getElementById("lng").value = lng;
    }

    function updateAddress(lat, lng) {
        geocoder.geocode({ 'location': { lat: lat, lng: lng } }, function(results, status) {
            if (status === 'OK' && results[0]) {
                document.getElementById('id_location_address').value = results[0].formatted_address;
            }
        });
    }

    function handleApiLoadError() {
        alert("Google Maps API failed to load. Please check your API key and network connection.");
    }

    // Load the Maps API and initialize the map
    function loadScript() {
        const script = document.createElement('script');
        script.src = `https://maps.googleapis.com/maps/api/js?key=AIzaSyByI5dVeuFoa0FVMaIjoDSLear2xjn00Ps&libraries=places&callback=initMap`;
        script.async = true;
        script.defer = true;
        script.onerror = handleApiLoadError; // Handle errors
        document.head.appendChild(script);
    }

    loadScript();
</script>
{% endblock %}
