<!-- templates/core/change_username.html -->
{% extends 'core/base.html' %}
{% block title %}Change Username{% endblock title %}
{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Change Username</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            <div class="text-red-500">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Change Username</button>
    </form>
</div>
{% endblock %}
