<!-- templates/core/change_password.html -->
{% extends 'core/base.html' %}
{% block title %}Change Password{% endblock title %}
{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Change Password</h2>
    <form method="post">
        {% csrf_token %}
        {% if messages %}
            <div class="text-red-500">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        
        <div class="mb-6">
            <label class="block mb-2" for="{{ form.old_password.id_for_label }}">Old Password</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
                <div class="text-red-500">
                    {% for error in form.old_password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-6">
            <label class="block mb-2" for="{{ form.new_password1.id_for_label }}">New Password</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
                <div class="text-red-500">
                    {% for error in form.new_password1.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <div class="mb-6">
            <label class="block mb-2" for="{{ form.new_password2.id_for_label }}">Confirm New Password</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
                <div class="text-red-500">
                    {% for error in form.new_password2.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Change Password</button>
    </form>
</div>
{% endblock %}
