<!-- templates/core/check_in.html -->
{% extends 'core/base.html' %}
{% block title %}Check-In{% endblock title %}
{% block content %}
<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Check-In</h2>
    {% if not is_within_radius %}
    <p>You are not within the radius to check-in to this event.</p>
    {% else %}
    <form id="check-in-form" method="post">
        {% csrf_token %}
        {% if is_student_id_required %}
        <div class="mb-6">
            <label class="block mb-2" for="id_student_id">Student ID</label>
            {{ form.student_id }}
        </div>
        {% endif %}
        {% if is_index_number_required %}
        <div class="mb-6">
            <label class="block mb-2" for="id_index_number">Index Number</label>
            {{ form.index_number }}
        </div>
        {% endif %}
        {% if is_student_name_required %}
        <div class="mb-6">
            <label class="block mb-2" for="id_student_name">Student Name</label>
            {{ form.student_name }}
        </div>
        {% endif %}
        <input type="hidden" id="latitude" name="latitude">
        <input type="hidden" id="longitude" name="longitude">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Check-In</button>
    </form>
    {% endif %}
</div>
<script>
window.onload = function() {
    getLocation();
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
        alert("Geolocation is not supported by this browser.");
    }
}

function showPosition(position) {
    var latitude = position.coords.latitude;
    var longitude = position.coords.longitude;
    document.getElementById("latitude").value = latitude;
    document.getElementById("longitude").value = longitude;
}

function showError(error) {
    switch(error.code) {
        case error.PERMISSION_DENIED:
            alert("User denied the request for Geolocation.");
            break;
        case error.POSITION_UNAVAILABLE:
            alert("Location information is unavailable.");
            break;
        case error.TIMEOUT:
            alert("The request to get user location timed out.");
            break;
        case error.UNKNOWN_ERROR:
            alert("An unknown error occurred.");
            break;
    }
}
</script>
{% endblock %}
